<!--<div class="ui two column centered grid"> -->
<div class="main ui container">
  <div class="row">
    <div class="column">

      <h2 class="ui header">
        Gem Release Feeds
        <div class="sub header">それぞれのGemの最新リリースフィードを表示しています。</div>
      </h2>

      <div class="ui segment">
        <div class="ui accordion">
          <div class="title active">
            <h3 class="ui header">
              Rails Release Feeds
              <div class="sub header"></div>
              <%= link_to('Rails総合', plugin_path(@rails_entries.first.plugin.id), class: 'ui button right floated') if @rails_entries.first %>
            </h3>
          </div>
          <div class="content active">
            <table class="ui very basic table compact">
              <thead>
                <tr>
                <th>リリースタイトル(Version)</th>
                <th>更新日時</th>
                <th>更新可能なプロジェクト</th>
                <th></th>
                </tr>
              </thead>
              <tbody>
                <% @rails_entries.each do |entry| %>
                  <tr>
                    <td>
                      <%= new_label(entry.published) %>
                      <%= link_to(truncate(entry.title, length: 30), entry.url, target: "_blank", class: "") %>
                    </td>
                    <td><%= l entry.published %></td>
                    <td>
                      <%# 同じメジャーバージョンで自分より小さいマイナーバージョンはあるか? %>
                      <%# 自分より小さいメジャーバージョンはあるか？ %>
                      <%
                        less_minor_version = nil
                        @rails_entries.each { |e|
                          if e != entry && e.major_version == entry.major_version && e.minor_version < entry.minor_version
                            less_minor_version = true
                          end
                        }
                      %>

                      <% if less_minor_version.present? %>
                        <% versions = entry.plugin.project_versions.where(['major_version = ? AND minor_version = ? AND patch_version != ?', entry.major_version, entry.minor_version, entry.patch_version]) %>
                      <% else %>
                        <% versions = entry.plugin.project_versions.where(['major_version = ? AND minor_version <= ? AND NOT(minor_version = ? AND patch_version = ?)', entry.major_version, entry.minor_version, entry.minor_version, entry.patch_version]) %>
                      <% end %>

                      <% versions.order(major_version: :desc, minor_version: :desc, patch_version: :desc).limit(3).each do |v| %>
                        <%= link_to(project_path(v.project.id), class: 'item') do %>
                          <div class="ui small label">
                            <%= v.project.name %> <%= v.installed %>
                          </div>
                        <% end %>
                      <% end %>
                      <%= show_more(versions.count, plugin_version_path(plugin_id: entry.plugin.id, id: entry.id)) %>
                    </td>

                    <td>
                      <%= link_to '詳細情報',
                        plugin_version_path(plugin_id: entry.plugin.id, id: entry.id),
                        class: "ui small button" %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui form">
          <%= search_form_for @search, url: feeds_path do |f| %>
            <div class="inline fields">
              <div class="field">
                <%= f.text_field :plugin_name_start, placeholder: 'Gem Name', class: '' %>
              </div>
              <%= f.submit '検索', class: "ui olive button" %>
              <%= link_to 'クリア', feeds_path, class: 'ui button' %>
            </div>
          <% end %>
        </div>

        <table class="ui very basic table compact">
          <thead>
            <tr>
            <th>リリースタイトル(Version)</th>
            <th>更新日時</th>
            <th>更新可能なプロジェクト</th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <% @entries.each do |entry| %>
              <tr>
                <td>
                  <%= new_label(entry.published) %>
                  <%= link_to(truncate(entry.title, length: 30), entry.url, target: "_blank", class: "") %>
                </td>
                <td><%= l entry.published %></td>
                <td>
                  <% entries = entry.plugin.project_versions.where(['installed < ?', entry.version]) %>
                  <% entries.order('installed desc').limit(3).each do |v| %>
                    <%= link_to(project_path(v.project.id), class: 'item') do %>
                      <div class="ui small label">
                        <%= v.project.name %> <%= v.installed %>
                      </div>
                    <% end %>
                  <% end %>
                  <%= show_more(entries.count, plugin_path(entry.plugin.id)) %>
                </td>
                <td>
                  <%= link_to '詳細情報',
                      plugin_version_path(plugin_id: entry.plugin.id, id: entry.id),
                      class: "ui small button" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <p><%= page_entries_info @entries %></p>
        <%= paginate @entries %>

      </div>
    </div>
  </div>
</div>
