<!--<div class="ui two column centered grid"> -->
<div class="main ui container">
  <div class="row">
    <div class="column">

      <h2 class="ui header">
        Gem Release Feeds
        <span class="sub header">それぞれのGemの最新リリースフィードを表示しています。</span>
      </h2>

      <div class="ui segment">
        <div class="ui accordion">
          <div class="title active">
            <h3 class="ui header">
              Rails Release Feeds
            </h3>
          </div>
          <div class="content active">
            <table class="ui very basic table compact">
              <thead>
                <tr>
                <th>リリースタイトル(Version)</th>
                <th>更新日時</th>
                <th>更新可能なプロジェクト</th>
                <th>プロジェクト脆弱性の有無</th>
                <th></th>
                </tr>
              </thead>
              <tbody>
                <% @rails_entries.each do |entry| %>
                  <tr>
                    <td>
                      <%= new_label(entry.published) %>
                      <strong><%= entry.title %></strong>
                    </td>
                    <td><%= l entry.published %></td>
                    <td>
                      <% versions = entry.project_versions_by_series(@rails_entries) %>
                      <% project_versions = versions.order_by_version %>
                      <% project_versions.includes(:project).limit(3).each do |v| %>
                        <%= link_to(project_path(v.project.id), class: 'item') do %>
                          <div class="ui small label">
                            <%= v.project.name %> <%= v.installed %>
                          </div>
                        <% end %>
                      <% end %>
                      <%= show_more(versions.count, plugin_version_path(plugin_id: entry.plugin.id, id: entry.id)) %>
                    </td>
                    <td>
                      <% last_version = project_versions.last %>
                      <% if last_version %>
                        <% if last_version.vulnerability %>
                          <i class="warning sign icon red"></i>
                        <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%= link_to '詳細情報',
                        plugin_version_path(plugin_id: entry.plugin.id, id: entry.id),
                        class: "ui small button" %>
                    </td>
                  </tr>

                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="ui segment">
        <div class="ui form">
          <%= search_form_for @search, url: feeds_path do |f| %>
            <div class="inline fields">
              <div class="field">
                <%= f.text_field :plugin_name_start, placeholder: 'Gem Name', class: '' %>
              </div>
              <%= f.submit '検索', class: "ui olive button" %>
              <%= link_to 'クリア', feeds_path, class: 'ui button' %>
            </div>
          <% end %>
        </div>

        <table class="ui very basic table compact">
          <thead>
            <tr>
            <th>リリースタイトル(Version)</th>
            <th>更新日時</th>
            <th>更新可能なプロジェクト</th>
            <th>プロジェクトの脆弱性情報</th>
            <th></th>
            </tr>
          </thead>
          <tbody>
            <% @entries.includes(:dependencies).includes(:vulnerable_entries).each do |entry| %>
              <% project_versions = entry.updatable_project_versions %>
              <tr>
                <td>
                  <%= new_label(entry.published) %>
                  <strong><%= entry.title %></strong>
                </td>
                <td><%= l entry.published %></td>
                <td>
                  <% project_versions.includes(:project).limit(3).each do |v| %>
                    <%= link_to(project_path(v.project.id), class: 'item') do %>
                      <div class="ui small label">
                        <%= v.project.name %> <%= v.installed %>
                      </div>
                    <% end %>
                  <% end %>
                  <%= show_more(project_versions.count, plugin_path(entry.plugin.id)) %>
                </td>
                <td>
                  <%#　更新可能でもっとも古いバージョン project_versions.last %>
                  <% last_version = project_versions.last %>
                  <% if last_version %>
                    <% if last_version.vulnerability %>
                      <i class="warning sign icon red"></i>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <%= link_to '詳細情報',
                      plugin_version_path(plugin_id: entry.plugin.id, id: entry.id),
                      class: "ui small button" %>
                </td>
              </tr>

            <% end %>
          </tbody>
        </table>

        <p><%= page_entries_info @entries %></p>
        <%= paginate @entries %>

      </div>
    </div>
  </div>
</div>
