<h1>Feeds#index</h1>
<p>Find me in app/views/entrys/index.html.erb</p>

<table>
  <tr>
  <th>feed名</th>
  <th>リリースバージョン</th>
  <th>更新日</th>
  <th>使用中のプロジェクト</th>
  <th></th>
  </tr>
  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.plugin.name %></td>
      <td><%= link_to(truncate(entry.title, length: 20), entry.url, target: "_blank") %></td>
      <td><%= entry.published %></td>
      <td>
        <% entry.plugin.projects.each do |project| %>
          <%= link_to project.name, project_path(project.id) %>
        <% end %>
      </td>
      <td><%= link_to '詳細', plugin_path(entry.plugin.id) %></td>
    </tr>

  <% end %>
  </tbody>
</table>