<!--<div class="ui two column centered grid"> -->
<div class="main ui container">
  <div class="row">
    <div class="column">

      <div class="ui relaxed divided list">
        <% @entries.each do |entry| %>
          <div class="item">
            <i class="big github middle aligned icon"></i>
            <div class="content">
              <% title = "#{entry.plugin.name} / #{truncate(entry.title, length: 30)}" %>
              <div class="header">
                <%= link_to(title, entry.url, target: "_blank", class: "") %>
              </div>
              <div class="description">
                <%= entry.published %>
              </div>
            </div>
            <div class="right floated content">
              <% entry.plugin.projects.limit(5).each do |project| %>
                <%= link_to(project_path(project.id), class: 'item') do %>
                  <div class="ui small label">
                    <%= project.name %>
                  </div>
                <% end %>
              <% end %>
              <% if entry.plugin.projects.count > 5 %>
                <%= link_to plugin_path(entry.plugin.id), class: 'item' do %>
                  <div class="ui small label">
                    ...more
                  </div>
                <% end %>
              <% end %>
              <%= link_to 'gem info', plugin_path(entry.plugin.id), class: "ui button" %>
            </div>

          </div>
        <% end %>
      </div>

      <p>
        <%= page_entries_info @entries %>
      </p>
      <%= paginate @entries %>

    </div>
  </div>
</div>