<h3 class="ui header">
  Rails Release Feeds
  <div class="sub header">
    <%= link_to 'rails詳細', plugin_path(@entry.plugin.id), class: "ui primary button" %>
  </div>
</h3>
<table class="ui very basic table compact">
  <thead>
    <tr>
    <th>リリースタイトル(Version)</th>
    <th>更新日時</th>
    <th>脆弱性情報(同日にアラートされたRSSを表示)</th>
    <th>プロジェクト</th>
    </tr>
  </thead>
  <tbody>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to(truncate(entry.title, length: 30), entry.url, target: "_blank", class: "") %></td>
      <td><%= l entry.published %></td>
      <td>
        <ul>
        <% entry.plugin.security_entries.where(published: (entry.published.ago(43200))..(entry.published.since(43200)) ).each do |s| %>
          <li>
            <%= link_to truncate(s.title, length: 18), s.url, target: '_blank' %>
            (<%= l s.published %>)
            <% cve = s.title.scan(/CVE-\d+-\d+/).flatten[0] %>
            <% if cve %>
              <%= link_to "http://cve.mitre.org/cgi-bin/cvename.cgi?name=#{cve}", target: '_blank', class: '' do %>
                <div class="ui mini label">CVE</div>
              <% end %>
              <%= link_to "http://jvndb.jvn.jp/search/index.php?mode=_vulnerability_search_IA_VulnSearch&lang=ja&keyword=#{cve}", target: '_blank', class: '' do %>
                <div class="ui mini label">JVN</div>
              <% end %>
            <% end %>
          </li>
        <% end %>
        </ul>
      </td>
      <td>
        <% entry.plugin.project_versions.where(installed: entry.version).each do |v| %>
          <%= link_to(project_path(v.project.id), class: 'item') do %>
            <div class="ui small label">
              <%= v.project.name %>
            </div>
          <% end %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>