<h2 class="ui header">Gem</h2>

<div class="ui form">
  <%= search_form_for @search, url: plugins_path do |f| %>
    <div class="inline fields">
      <div class="field">
        <%= f.text_field :name_start, placeholder: 'Gem Name', class: '' %>
      </div>
      <div class="field">
        <%= f.select :projects_id_eq, Project.all.map{|p| [p.name, p.id]}, { include_blank: "すべてのプロジェクト" }, { class: 'ui dropdown' } %>
      </div>
      <%= f.submit '検索', class: "ui olive button" %>
      <%= link_to 'クリア', plugins_path, class: 'ui button' %>
    </div>
  <% end %>
</div>

<table class="ui celled table">
  <thead>
    <tr>
    <th>Gem</th>
    <th>リリースFeed数</th>
    <th>セキュリティFeed数</th>
    <th>プロジェクト</th>
    <th></th>
    </tr>
  </thead>
  <tbody>
  <% @plugins.each do |plugin| %>
    <tr>
      <td><%= plugin.name %></td>
      <td class="right aligned">
        <%= plugin.entries.count if plugin.entries.count > 0 %>
      </td>
      <td class="right aligned">
        <%= plugin.security_entries.count if plugin.security_entries.count > 0 %>
      </td>
      <td>
        <% plugin.projects.each do |project| %>
          <%= link_to(project_path(project.id), class: 'item') do %>
            <div class="ui small label">
              <%= project.name %>
            </div>
          <% end %>
        <% end %>
      </td>
      <td><%= link_to '詳細', plugin_path(plugin.id), class: "ui button" %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p>
  <%= page_entries_info @plugins %>
</p>
<%= paginate @plugins %>
