<div class="main ui container">
  <div class="row">
    <div class="column">

      <h2 class="ui header">プロジェクト</h2>

      <div class="ui form">
        <%= search_form_for @search, url: projects_path do |f| %>
          <div class="inline fields">
            <div class="field">
              <%= f.text_field :name_start, placeholder: 'プロジェクト名', class: '' %>
            </div>
            <%= f.submit '検索', class: "ui olive button" %>
            <%= link_to 'クリア', projects_path, class: 'ui button' %>
          </div>
        <% end %>
      </div>

      <table class="ui celled table">
        <thead>
          <tr>
          <th>プロジェクト名</th>
          <th>gem数</th>
          <th>更新可能なgem数</th>
          <th></th>
          </tr>
        </thead>
      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td class="right aligned">
            <%= project.project_versions.count %>
          </td>
          <td class="right aligned">
            <%= project.project_versions.newest_versions.count %>
          </td>
          <td class="center aligned">
            <%= link_to '詳細', project_path(project.id), class: "ui small button" %>
          </td>
        </tr>
      <% end %>
      </tbody>
      </table>

      <p>
        <%= page_entries_info @projects %>
      </p>
      <%= paginate @projects %>

    </div>
  </div>
</div>