<div class="main ui container">
  <div class="row">
    <div class="column">

      <h1 class="ui header">プロジェクト</h1>

      <table class="ui celled padded table">
        <thead>
          <tr>
          <th>プロジェクト名</th>
          <th>gem数</th>
          <th>更新可能なgem数</th>
          <th></th>
          </tr>
        </thead>
      <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%= project.name %></td>
          <td class="right aligned">
            <%= project.project_versions.count %>
          </td>
          <td class="right aligned">
            <%= project.project_versions.newest_versions.count %>
          </td>
          <td><%= link_to '詳細', project_path(project.id), class: "ui button" %></td>
        </tr>
      <% end %>
      </tbody>
      </table>

      <p>
        <%= page_entries_info @projects %>
      </p>
      <%= paginate @projects %>

    </div>
  </div>
</div>