<div class="ui grid">

  <div class="column">
    <div class="ui message">
      <h1>
        <%= @plugin.name %>
      </h1>

      <div class="ui large breadcrumb">
        <%= link_to @plugin.name, plugin_path(@plugin), class: "section" %>
        <i class="right chevron icon divider"></i>
        <div class="active section">versions</div>
      </div>
      <br>

    </div>
  </div>

</div><!-- grid -->

<div class="ui grid">

  <div class="six wide column">
    <%= render partial: 'shared/latest_versions',
      locals: { release_feeds: @release_feeds, plugin: @plugin } %>
    <div class="ui segment">
      <h2><i class="external icon"></i>外部リンク</h2>
      <%= link_to @plugin.homepage_uri || "#{Settings.feeds.rubygem}#{@plugin.name}", class: "", target: '_blank' do %>
        <i class="external icon"></i>公式ホームページ
      <% end %>
    </div>
  </div>

  <div class="ten wide column">
    <div class="ui segment">
      <h2><i class="diamond icon"></i>ALL Versions</h2>
      <table class="ui very basic table">
        <thead>
          <tr>
            <th>version</th>
            <th>リリース日</th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr>
              <td>
                <%= link_to(entry.version,
                            plugin_version_path(plugin_id: @plugin.id, id: entry.id)
                  ) %>
              </td>
              <td><%= l entry.published %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>