<div class="ui grid">

  <div class="column">
    <div class="ui message">
      <h1>
        <%= @plugin.name %>
        <%= link_to @version.version, plugin_version_path(plugin_id: @plugin.id, id: @version.id) %>
      </h1>

      <div class="ui large breadcrumb">
        <%= link_to @plugin.name, plugin_path(@plugin), class: "section" %>
        <i class="right chevron icon divider"></i>
        <div class="active section"><%= @version.version %></div>
      </div>
      <br>

    </div>
  </div>

</div><!-- grid -->

<div class="ui grid">

  <div class="six wide column">
    <div class="ui segment">
      <strong>バージョンリリース:</strong> <%= l @version.published %>
    </div>
    <%= render partial: 'shared/latest_versions',
      locals: { release_feeds: @release_feeds, plugin: @plugin } %>

    <div class="ui segment">
      <h2><i class="folder open icon"></i>使用中のプロジェクト</h2>
      <div class="ui relaxed list">
        <% @version.project_versions.each do |version| %>
          <div class="item">
            <i class="large folder outline middle aligned icon"></i>
            <div class="content">
              <span class="header">
                <%= link_to version.project.name, project_path(version.project.id) %>
                <span style="<%= 'color:red;' if version.newest %>"></span>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="ui segment">
      <h2><i class="external icon"></i>外部リンク</h2>
      <p>
        <%= link_to @plugin.homepage_uri || "#{Settings.feeds.rubygem}#{@plugin.name}", class: "", target: '_blank' do %>
             <i class="external icon"></i>公式ホームページ
        <% end %>
      </p>
      <p>
        <%= link_to @version.url, target: '_blank' do %>
          <i class="external icon"></i>バージョン情報を詳しく見る(RubyGems.org)
        <% end %>
      </p>
    </div>
  </div>

  <div class="ten wide column">

    <div class="ui segment red">
      <h2><i class="warning sign icon red"></i>脆弱性(未修正)情報</h2>

      <div class="ui relaxed list">
        <% if @vulnerable_securities.empty? %>
          脆弱性情報は1件もありません。
        <% end %>
        <% @vulnerable_securities.each do |topic| %>
          <%= render partial: 'security', locals: { topic: topic } %>
        <% end %>
      </div>
    </div>

    <div class="ui segment green">
      <h2><i class="warning sign icon green"></i>脆弱性(修正済み)情報</h2>

      <div class="ui relaxed list">
        <% if @patched_securities.empty? %>
          脆弱性修正情報は1件もありません。
        <% end %>
        <% @patched_securities.each do |topic| %>
          <%= render partial: 'security', locals: { topic: topic } %>
        <% end %>
      </div>
    </div>

    <div class="ui segment">
      <h2><i class="diamond icon"></i>Runtime Dependencies</h2>
      <div class="ui">
        <% unless @dependencies.present? %>
          Runtime Dependenciesは1件も存在しません。
        <% else %>
          <table class="ui very basic table">
            <thead>
              <tr>
                <th>gem名</th>
                <th>必要条件</th>
                <th>最新バージョン<br />(必要条件下)</th>
                <th>プロジェクトバージョン<br />(最古)</th>
              </tr>
            </thead>
            <tbody>
              <% @dependencies.each do |dependency| %>
                <tr>
                  <td>
                    <% if dependency.plugin %>
                      <%= link_to dependency.plugin.name, plugin_path(dependency.plugin.id) %>
                    <% else %>
                      <%= dependency.provisional_name %>
                    <% end %>
                  </td>
                  <td><%= dependency.requirements %></td>
                  <td>
                    <% entry = dependency.latest_entry %>
                    <% if entry %>
                      <% color = dependency.alert_status %>
                      <div class="ui small label <%= color %>">
                        <%= link_to entry.version, plugin_version_path(plugin_id: entry.plugin.id, id: entry.id) if entry %>
                      </div>
                    <% end %>
                  </td>
                  <td>
                    <% if dependency.plugin %>
                      <% version = dependency.plugin.project_versions.by_parent_version(@version).last %>
                      <% if version %>
                        <% color = version.alert_status %>
                        <div class="ui small label <%= color %>">
                          <%= link_to "#{version.project.name} #{version.installed}", plugin_version_path(plugin_id: version.plugin.id, id: version.entry.id) %>
                        </div>
                      <% end %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <br />
          ※ <div class="ui mini label red">脆弱性(未修正)情報あり</div><div class="ui mini label yellow">対象のdependencies配下で脆弱性(未修正)情報あり</div>

        <% end %>
      </div>
    </div>

  </div>


</div><!-- grid -->
