<div class="ui grid">

  <div class="column">
    <div class="ui message">
      <h1>
        <%= @plugin.name %>
        <%= link_to @version.version, plugin_version_path(plugin_id: @plugin.id, id: @version.id) %>
      </h1>

      <div class="ui large breadcrumb">
        <%= link_to @plugin.name, plugin_path(@plugin), class: "section" %>
        <i class="right chevron icon divider"></i>
        <div class="active section"><%= @version.version %></div>
      </div>
      <br>

    </div>
  </div>

</div><!-- grid -->

<div class="ui grid">

  <%= render partial: 'shared/latest_versions',
    locals: { release_feeds: @release_feeds, plugin: @plugin } %>

  <div class="ten wide column">

    <div class="ui segment">
      <h2><i class="rss square icon"></i>Security Fix Info</h2>
      <%= 'セキュリティ情報は1件もありません。' if @securities.blank? %>
      <div class="ui relaxed list">
        <% @securities.each do |topic| %>
          <div class="item">
            <i class="large warning circle middle aligned icon"></i>
            <div class="content">
              <span class="header"><%= link_to topic.title, topic.url, target: '_blank' %></span>
              <div class="description">
                <%= l topic.published %>
                <% cve = topic.title.scan(/CVE-\d+-\d+/).flatten[0] %>
                <% if cve %>
                  <%= link_to "CVE", "#{Settings.links.cve}#{cve}", target: '_blank', class: 'ui button mini' %>
                  <%= link_to "JVN", "#{Settings.links.jvn}#{cve}", target: '_blank', class: 'ui button mini' %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="ui segment">
      <h2><i class="diamond icon"></i>Runtime Dependency</h2>
      <% if @dependencies.present? %>
        <table class="ui very basic table">
          <thead>
            <tr>
              <th>gem名</th>
              <th>必要条件</th>
              <th>状態</th>
            </tr>
          </thead>
          <tbody>
            <% @dependencies.each do |dependency| %>
              <tr>
                <td><%= link_to dependency.plugin.name, plugin_path(dependency.plugin.id) %></td>
                <td><%= dependency.requirements %></td>
                <td></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>

  </div>


</div><!-- grid -->
